<!DOCTYPE html>
<html>
<style>
table, th, td {
    border:1px solid black;
    border-collapse:collapse;
}
</style>
<body>
    <table style="width:fit-content;margin-left:auto;margin-right:auto;">
    <tr>
    <th>title</th>
    <th>author</th>
    <th>rating</th>
    <th>is_bestselling</th>
</tr>
<tr>
    <td>{{title}}</td>
    <td>{{author}}</td>
    <td>{{rating}}</td>
    <td>{{is_bestselling}}</td>
</tr>
<!-- <tr>
    
</tr>
<tr>
    
</tr> 
    <h1>{{title}}</h1>
    <h2>{{author}}</h2>
    <p>the book has a ratting of {{rating}}</p>
    <p>and is best seller{{is_bestselling}}</p> -->

</table>
</body>
</html>
